* {
	box-sizing: border-box;
}

body, 
html, 
.haikuApp {
	height: 100%;
}

.haikuApp {
	display: flex;
	flex-direction: column;
}

.brand {
	color: #A5A5A5;
	font-size: 30px;
	height: 37px;
	letter-spacing: 10px;
	padding: 0 0 0 10px;
	text-align: center;
	transition: all 1s ease-in-out;
	width: 390px;
}

.brand:hover {
	transform: scale(1.02);
	transform-origin: center center;
}

.submit {
	color: #000000;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	height: 37px;
	margin: 25px auto 0;
	width: 122px;
}

main {
	background-color: rgba(165, 165, 165, .8);
	border-radius: 30px;
	margin: auto;
	transition: all 3s ease-in-out;
}

.mainHaiku {
	color: #000000;
	font-family: 'Merriweather', serif;
	font-size: 30px;
	font-weight: 300;
	margin: auto;
	padding: 10px;
	text-align: center;
}

.brand, .more {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	margin: 0 auto;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.more {
	border: none;
	color: #000000;
	height: 25px;
	letter-spacing: 4px;
	padding: 2px 0 2px 4px;
	transition: all .1s ease;
	width: 160px;
}

.more:focus {
	outline: none;
}

main:hover, 
.more:hover {
	border: 1px solid;
}

.beachTheme {
	background: skyblue;
	background-image: url("../images/beach_sm.jpg");
}

.beachTheme .brand:hover {
	color: purple;
}

.beachTheme main:hover, 
.beachTheme .more:hover {
	border-color: rgba(128, 0, 128, .5);
}

.beachTheme main:hover,
.beachTheme .more:active {
	background-color: rgba(128, 0, 128, .5);
}


.careerTheme {
	background: blue;
	background-image: url("../images/career_sm.jpg");
}

.careerTheme .brand:hover {
	color: fuchsia;
}

.careerTheme main:hover, 
.careerTheme .more:hover {
	border-color: rgba(255, 0, 255, .5);
}

.careerTheme main:hover,
.careerTheme .more:active {
	background-color: rgba(255, 0, 255, .5);
}



.catTheme {
	background: blue;
	background-image: url("../images/cat_sm.jpg");
}

.catTheme .brand:hover {
	color: turquoise;
}

.catTheme main:hover, 
.catTheme .more:hover {
	border-color: rgba(64, 224, 208, .5);
}

.catTheme main:hover,
.catTheme .more:active{
	background-color: rgba(64, 224, 208, .5);
}



.cheersTheme {
	background: blue;
	background-image: url("../images/cheers_sm.jpg");
}

.cheersTheme .brand:hover {
	color: darkmagenta;
}

.cheersTheme main:hover,
.cheersTheme .more:hover {
	border-color: rgba(139, 0, 139, .5);
}

.cheersTheme main:hover,
.cheersTheme .more:active {
	background-color: rgba(139, 0, 139, .5);
}


.childhoodTheme {
	background: blue;
	background-image: url("../images/childhood_sm.jpg");
}

.childhoodTheme .brand:hover {
	color: deeppink;
}

.childhoodTheme main:hover,
.childhoodTheme .more:hover {
	border-color: rgba(255, 20, 147, .5);
}

.childhoodTheme main:hover,
.childhoodTheme .more:active{
	background-color: rgba(255, 20, 147, .5);
}


.coffeeTheme {
	background: blue;
	background-image: url("../images/coffee_sm.jpg");
}

.coffeeTheme .brand:hover {
	color: gold;
}

.coffeeTheme main:hover,
.coffeeTheme .more:hover {
	border-color: rgba(255, 215, 0, .5);
}

.coffeeTheme main:hover,
.coffeeTheme .more:active{
	background-color: rgba(255, 215, 0, .5);
}


.dogTheme {
	background: blue;
	background-image: url("../images/dog_sm.jpg");
}

.dogTheme .brand:hover {
	color: mediumorchid;
}

.dogTheme main:hover,
.dogTheme .more:hover {
	border-color: rgba(186, 85, 211, .5);
}

.dogTheme main:hover,
.dogTheme .more:active {
	background-color: rgba(186, 85, 211, .5);
}


.fantasyTheme {
	background: blue;
	background-image: url("../images/fantasy_sm.jpg");
}

.fantasyTheme .brand:hover {
	color: orangered;
}

.fantasyTheme main:hover,
.fantasyTheme .more:hover {
	border-color: rgba(255, 69, 0, .5);
}

.fantasyTheme main:hover,
.fantasyTheme .more:active {
	background-color: rgba(255, 69, 0, .5);
}


.fitnessTheme {
	background: blue;
	background-image: url("../images/fitness_sm.jpg");
}

.fitnessTheme .brand:hover {
	color: deeppink;
}

.fitnessTheme main:hover,
.fitnessTheme .more:hover {
	border-color: rgba(255, 20, 147, .5);
}

.fitnessTheme main:hover,
.fitnessTheme .more:active{
	background-color: rgba(255, 20, 147, .5);
}


.foodTheme {
	background: blue;
	background-image: url("../images/food_sm.jpg");
}

.foodTheme .brand:hover {
	color: midnightblue;
}

.foodTheme main:hover,
.foodTheme .more:hover {
	border-color: rgba(25, 25, 112, .5);
}

.foodTheme main:hover,
.foodTheme .more:active {
	background-color: rgba(25, 25, 112, .5);
}


.happyTheme {
	background: yellow;
	background-image: url("../images/happy_sm.jpg");
}

.happyTheme .brand:hover {
	color: tomato;
}

.happyTheme main:hover,
.happyTheme .more:hover {
	border-color: rgba(255, 99, 71, .5);
}

.happyTheme main:hover,
.happyTheme .more:active {
	background-color: rgba(255, 99, 71, .5);
}


.musicTheme {
	background: yellow;
	background-image: url("../images/music_sm.jpg");
}

.musicTheme .brand:hover {
	color: royalblue;
}

.musicTheme main:hover,
.musicTheme .more:hover {
	border-color: rgba(65, 105, 225, .5);
}

.musicTheme main:hover,
.musicTheme .more:active{
	background-color: rgba(65, 105, 225, .5);
}


.natureTheme {
	background: yellow;
	background-image: url("../images/nature_sm.jpg");
}

.natureTheme .brand:hover {
	color: crimson;
}

.natureTheme main:hover,
.natureTheme .more:hover {
	border-color: rgba(220, 20, 60, .5);
}

.natureTheme main:hover,
.natureTheme .more:active {
	background-color: rgba(220, 20, 60, .5);
}


.painTheme {
	background: yellow;
	background-image: url("../images/pain_sm.jpg");
}

.painTheme .brand:hover {
	color: firebrick;
}

.painTheme main:hover,
.painTheme .more:hover {
	border-color: rgba(178, 34, 34, .5);
}

.painTheme main:hover,
.painTheme .more:active {
	background-color: rgba(220, 20, 60, .5);
}


.romanceTheme {
	background: crimson;
	background-image: url("../images/romance_sm.jpg");
}

.romanceTheme .brand:hover {
	color: teal;
}

.romanceTheme main:hover,
.romanceTheme .more:hover {
	border-color: rgba(0, 128, 128, .5);
}

.romanceTheme main:hover,
.romanceTheme .more:active {
	background-color: rgba(0, 128, 128, .5);
}


.somberTheme {
	background: grey;
	background-image: url("../images/somber_sm.jpg");
}

.somberTheme .brand:hover {
	color: lightcoral;
}

.somberTheme main:hover,
.somberTheme more:hover {
	border-color: rgba(240, 128, 128, .5);
}

.somberTheme main:hover,
.somberTheme .more:active {
	background-color: rgba(240, 128, 128, .5);
}


.stormTheme {
	background: grey;
	background-image: url("../images/storm_sm.jpg");
}

.stormTheme .brand:hover {
	color: orangered;
}

.stormTheme main:hover,
.stormTheme .more:hover {
	border-color: rgba(255, 69, 0, .5);
}

.stormTheme main:hover,
.stormTheme .more:active{
	background-color: rgba(255, 69, 0, .5);
}


.technologyTheme {
	background: grey;
	background-image: url("../images/technology_sm.jpg");
}

.technologyTheme .brand:hover {
	color: springgreen;
}

.technologyTheme main:hover,
.technologyTheme .more:hover {
	border-color: rgba(0, 255, 127, .5);
}

.technologyTheme main:hover,
.technologyTheme .more:active {
	background-color: rgba(0, 255, 127, .5);
}


.travelTheme {
	background: grey;
	background-image: url("../images/travel_sm.jpg");
}

.travelTheme .brand:hover {
	color: crimson;
}

.travelTheme main:hover,
.travelTheme .more:hover {
	border-color: rgba(220, 20, 60, .5);
}

.travelTheme main:hover,
.travelTheme .more:active {
	background-color: rgba(220, 20, 60, .5);
}


.whimsyTheme {
	background: purple;
	background-image: url("../images/whimsy_sm.jpg");
}

.whimsyTheme .brand:hover {
	color: tomato;
}

.whimsyTheme main:hover
.whimsyTheme more:hover {
	border-color: rgba(255, 99, 71, .5);
}

.whimsyTheme main:hover,
.whimsyTheme .more:active{
	background-color: rgba(255, 99, 71, .5);
}

.themes {
	background-repeat: no-repeat;
	background-size: cover;
}

/* admin page */
.adminPage {
	height: auto;
}

.admin {
	border: 1px solid grey;
	display: flex;
	height: 38px;
	justify-content: space-between;
	margin: 4px auto;
	padding: 5px;
	width: 85%;
}

.admin p {
	margin: auto 0;
}

.admin button {
	color: black;
	padding: 2px 6px;
}

/* Modal Classes */


/* Class for react-bootstrap modal */
.modal-container {
  position: relative;
}

/* Class for react-bootstrap modal */
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.close {
	transition: all 4s ease-out;
}

.close:hover {
	color: crimson;
	transform: rotate(360deg) scale(1.5);
}

.modal-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

.modal-body input {
	border: 1px solid rgb(204, 204, 204);
	border-radius: 3px;
	display: flex;
	justify-content: center;
	margin: 5px auto;
	text-align: center;
	width: 90%;
}

.modal-footer button {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.form-group label {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

.inputValid {
	outline-color: green;
}

.inputInvalid {
	outline-color: red;
}

@media only screen and (min-width: 640px) {
	
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0;
	}
	
	.brand {
		margin: 0;
		padding: 2px 0 2px 15px;
		transition: all 1s ease-in-out;
	}
	
	.brand:hover {
		transform: scale(1.1);
		transform-origin: center left;
	}
	
	.submit {
		display: inline-block;
		margin: 0;
}

	.mainHaiku {
		padding: 25px;
	}
	
	.more {
		margin: 0;
	}
	
	footer {
		justify-content: flex-start;
	}
	
	
	
	.beachTheme {
		background-image: url("../images/beach.jpg");
	}

	.careerTheme {
		background-image: url("../images/career.jpg");
	}

	.catTheme {
		background-image: url("../images/cat.jpg");
	}

	.cheersTheme {
		background-image: url("../images/cheers.jpg");
	}

	.childhoodTheme {
		background-image: url("../images/childhood.jpg");
	}

	.coffeeTheme {
		background-image: url("../images/coffee.jpg");
	}

	.dogTheme {
		background-image: url("../images/dog.jpg");
	}

	.fantasyTheme {
		background-image: url("../images/fantasy.jpg");
	}

	.fitnessTheme {
		background-image: url("../images/fitness.jpg");
	}

	.foodTheme {
		background-image: url("../images/food.jpg");
	}

	.happyTheme {
		background-image: url("../images/happy.jpg");
	}

	.musicTheme {
		background-image: url("../images/music.jpg");
	}

	.natureTheme {
		background-image: url("../images/nature.jpg");
	}

	.painTheme {
		background-image: url("../images/pain.jpg");
	}

	.romanceTheme {
		background-image: url("../images/romance.jpg");
	}

	.somberTheme {
		background-image: url("../images/somber.jpg");
	}

	.stormTheme {
		background-image: url("../images/storm.jpg");
	}

	.technologyTheme {
		background-image: url("../images/technology.jpg");
	}

	.travelTheme {
		background-image: url("../images/travel.jpg");
	}

	.whimsyTheme {
		background-image: url("../images/whimsy.jpg");
	}


	
}

@media only screen and (min-width: 450px) {
	
	.brand {
		letter-spacing: 15px;
		padding: 0;
		width: 450px;
	}
	
	.mainHaiku {
		font-size: 36px;
	}
	
	.modal-body input {
		width: 75%;
	}
	
}